body {
    background-color: black;
}

hr {
    border-top: 3px solid #6ABE30;
}

div {

    font-weight: bold;
    color: gray;
    font-size: 30px;

}



.botao {

    font-weight: bold;
    color: gray;
    font-size: 10px;
    display: flex;

}

.letrabrancain {
    font-size: 20px;
    color: #6cbf30;
    vertical-align: top;
    text-align:center
}

.letrabranca {
    font-size: 15px;
    color: white;
    display: flex;
    align-items: center;
    margin: 0.3%;
}


.imgX {
    display: block;
    margin: 0 auto;
    width: 600px;
}

.logo{
    display: flex;
    align-items: center;
    margin: 2%;

}

.girasol {
    display:flex; 
    width: 30px;
}


      #tamh {
        height: 100vh;
        margin: 50vh auto;
      }
      
      a {
        color: #6ABE30;
        text-transform: uppercase;
      }
      
      #horizontalmenu ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        text-align: center;
      }
      
      #horizontalmenu ul li {
        display: inline;
      }
      
      #horizontalmenu ul li a {
        text-decoration: none;
        padding: 0.2em 1.1em;
        border-right: 1px solid gray;
        margin: 0 0 0 -6px;
      }
      
      #horizontalmenu ul li:last-child a {
        border: none;
      }
      
      #horizontalmenu ul li a:hover {
        background: gray;
        color: #1a1a1a;
      


      }


.cont {
        display: grid;
        grid-template-columns: 100px 100px 100px 100px;
        grid-template-rows:100px 100px 100px 100px; 

}

.imgv{
    display: flex;
    align-items: center;
    margin: 2%;
}